
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scope</title>
    <script src="~/Content/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController"> 
        <input type="text" ng-model="name1" />
        <input type="text" ng-model="name2" />

        fullname: {{name1 +" "+name2}}
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope) {
            $scope.name1 = "Jonh";
            $scope.name2 = "Smith";
        });
    </script>
</body>
</html>
