
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>
    <script src="~/Content/angular.min.js"></script>
</head>
<body>
    <div style="width:830px;">

        <div ng-app="myApp" ng-controller="myCtrl">

            <button ng-click="myFunction()">Click Me!</button>

            <p>{{ count }}</p>

        </div>
        <script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.count = 0;
    $scope.myFunction = function() {
        $scope.count++;
    }
});
        </script> 
    </div>
</body>
</html>
